{
  "address": "127.0.0.1",
  "port": 12212,
  "token": "",
  "tls_enabled": false,
  "fallbackToDefaultPrinter": false,
  "tokenAuthenticationEnabled": false,
  "printers": {
    "LABEL": "KM-200",
    "INVOICE": "KM-200"
  },
  "serials": {
    "WEIGH": "COM3"
  }
}