<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="log/client.log" filePattern="log/client-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="Console" level="INFO"/>
            <appender-ref ref="RollingFile" level="INFO"/>
        </root>
    </loggers>
</configuration>